doctype
html
  head
    meta(charset="utf-8")
    title 物流管理系统
    link(href="./css/content.css" rel="stylesheet")
  body
    .header
      .logobar
        .top_logo
          a(href="./index.html")
            img(src="./images/car.png")
        .top_logo_content 物流管理系统
        ul.top_list
          li
            a(href="#") 首页
          li
            a(href="./index.html#footer") 关于
          li
            a(href="#") 登录
          li
            a(href="#") 注册
    .content
      .content_nav
        .nav_new.active
          .nav_icon_bar#new_user
            a(href="./new.html")
              img(src="./images/new_user.png")
              .nav_title 新增客户
        .nav_new 
          .nav_icon_bar#new_order
            a(href="./order.html")
              img(src="./images/new_order.png")
              .nav_title 添加订单
        .nav_new 
          .nav_icon_bar
            a(href="./send.html") 
              img(src="./images/new_order.png")
              .nav_title 添加订单
        .nav_new 
          .nav_icon_bar#new_find
            a(href="./find.html") 
              img(src="./images/new_order.png")
              .nav_title 货单查询
      .content_box
        .signup_bar
          form(method="POST" action='/user/signin')
          input(type="text",placeholder="用户名",name='user[name]')
          input(type="text",placeholder="姓名",name='user[name]')
          input(type="text",placeholder="邮箱",name="user[password]")
          input(type="text",placeholder="地址",name="user[password]")
          input(type="text",placeholder="电话",name="user[password]")   
          button.loginbtn(type="submit") 提交
    script(src="./js/jquery.min.js")
    script(src="./js/content.js")